<app-menu></app-menu>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card shadow-lg" style="
            background-image: url('https://wallpaperaccess.com/full/1843875.jpg');
            background-color: grey;
            background-blend-mode: multiply;
          ">
                    <div
                        class="row p-2 mt-5 fs-3 justify-content-between mx-sm-2">
                        <div class="col" style="font-size: large">
                            <p class="text space mb-0 shop"
                                style="color: white; font-weight: bold">
                                {{ customer.customername }}
                            </p>
                            <p class="text space mb-0 shop"
                                style="color: white; font-weight: bold">
                                {{ customer.customermobilenumber }}
                            </p>
                        </div>
                        <div class="col">
                            <div class="row justify-content-right"
                                style="margin-left: 35vh">
                                <button class="btn" style="color: white"
                                    (click)="viewPreviousOrders()">
                                    View Order History
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto justify-content-center text-center">
                        <div class="col-12 mt-3">
                            <nav aria-label="breadcrumb" class="second">
                                <ol class="breadcrumb indigo lighten-6 first">
                                    <li class="breadcrumb-item font-weight-bold">
                                        <a class="black-text text-uppercase"
                                            href="/restaurant"><span
                                                class="mr-md-3 mr-1">BACK TO
                                                SHOP</span></a>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16"
                                            fill="currentColor"
                                            class="bi bi-chevron-double-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd"
                                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </li>
                                    <li class="breadcrumb-item font-weight-bold">
                                        <a
                                            class="black-text text-uppercase active-2"
                                            href="#"><span
                                                class="mr-md-3 mr-1"
                                                style="font-size: 12px">SHOPPING
                                                BAG</span></a>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16"
                                            fill="currentColor"
                                            class="bi bi-chevron-double-right"
                                            viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd"
                                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <form [formGroup]="addressForm">
                                <div class="card border-0" style="width: 520px">
                                    <div class="card-header pb-0">
                                        <h2 class="card-title space">Checkout</h2>
                                        <p
                                            class="card-text text-muted mt-4 space">
                                            SHIPPING DETAILS
                                        </p>
                                        <hr class="my-0" />
                                    </div>
                                    <div class="container p-0">
                                        <div class="card px-4"
                                            style="background: url('restaurantbg2.jpeg')">
                                            <div class="row gx-3">
                                                <div class="col-12">
                                                    <div
                                                        class="d-flex flex-column">
                                                        <p class="text mb-1"
                                                            style="font-weight: bold; font-size: 17px">
                                                            Address
                                                        </p>
                                                        <input
                                                            class="form-control mb-3"
                                                            formControlName="area"
                                                            type="text"
                                                            placeholder="*Enter Apartment/ Floor/ Area"
                                                            value minlength="10"
                                                            maxlength="40" />
                                                        <span *ngIf="
                                addressForm.get('area')?.errors?.required &&
                                addressForm.get('area')?.touched
                              " style="color: red">area is required</span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div
                                                        class="d-flex flex-column">
                                                        <p class="text mb-1"
                                                            style="font-weight: bold; font-size: 17px">
                                                            Country
                                                        </p>
                                                        <mat-select
                                                            (valueChange)="selectCountry($event)"
                                                            class="form-control"
                                                            name="country"
                                                            formControlName="country">
                                                            <mat-option value>Select
                                                                Country</mat-option>
                                                            <mat-option
                                                                *ngFor="let country of countries"
                                                                [value]="country.name"
                                                                [attr.data-country-name]="country.name">{{
                                                                country.name
                                                                }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <!-- </mat-form-field> -->

                                                        <span *ngIf="
                                addressForm.get('country')?.errors?.required &&
                                addressForm.get('country')?.touched
                              " style="color: red">country is required</span>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div
                                                        class="d-flex flex-column">
                                                        <p class="text mb-1"
                                                            style="font-weight: bold; font-size: 17px">
                                                            State
                                                        </p>
                                                        <mat-select
                                                            class="form-control"
                                                            (valueChange)="selectState($event)"
                                                            name="state"
                                                            formControlName="state">
                                                            <mat-option value>Select
                                                                State</mat-option>
                                                            <mat-option
                                                                *ngFor="let state of states"
                                                                [value]="state.name"
                                                                [attr.data-state-name]="state.name">{{
                                                                state.name }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <!-- </mat-form-field> -->
                                                        <span *ngIf="
                                addressForm.get('state')?.errors?.required &&
                                addressForm.get('state')?.touched
                              " style="color: red">state is required</span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div
                                                        class="d-flex flex-column">
                                                        <p class="text mb-1"
                                                            style="font-weight: bold; font-size: 17px">
                                                            City
                                                        </p>
                                                        <mat-select
                                                            class="form-control"
                                                            name="city"
                                                            formControlName="city">
                                                            <mat-option value
                                                                class="form-control">Select
                                                                City
                                                            </mat-option>
                                                            <mat-option
                                                                *ngFor="let city of cities"
                                                                [value]="city.name"
                                                                [attr.data-city-name]="city.name">{{
                                                                city.name }}
                                                            </mat-option>
                                                        </mat-select>
                                                        <!-- </mat-form-field> -->
                                                        <span *ngIf="
                                addressForm.get('city')?.errors?.required &&
                                addressForm.get('city')?.touched
                              " style="color: red">city is required</span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div
                                                        class="d-flex flex-column">
                                                        <p class="text mb-1"
                                                            style="font-weight: bold; font-size: 17px">
                                                            Pincode
                                                        </p>
                                                        <input
                                                            class="form-control mb-3 pt-2"
                                                            formControlName="pincode"
                                                            type="text"
                                                            placeholder="*Enter 6 digit pincode"
                                                            pattern="^[0-9]\d{0,5}$"
                                                            minlength="6"
                                                            maxlength="6" />
                                                        <span *ngIf="
                                addressForm.get('pincode')?.errors?.required &&
                                addressForm.get('pincode')?.touched
                              " style="color: red">
                                                            Pincode is required.
                                                        </span>
                                                        <span *ngIf="
                                addressForm.get('pincode')?.touched &&
                                addressForm.get('pincode')?.invalid
                              " style="color: red">
                                                            Pincode should be 6
                                                            digits and should be
                                                            number.
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-3">
                                                    <button class="btn btn-dark"
                                                        style="background-color: #b48351"
                                                        [disabled]="addressForm.invalid"
                                                        (click)="saveAdd()">
                                                        <span class="ps-3">Save
                                                            New Address</span>
                                                        <span
                                                            class="fas fa-arrow-right"></span>
                                                    </button>
                                                    <button class="btn btn-dark"
                                                        (click)="showPreviusAdd()"
                                                        style="margin-left: 10vh">
                                                        <span class="ps-3">Use
                                                            Previous Address</span>
                                                        <span
                                                            class="fas fa-arrow-right"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <div class="card border-0">
                                <div class="card-header">
                                    <h2 class="card-title space">
                                        YOUR ORDER
                                        <span
                                            class="small text-muted ml-2 cursor-pointer">EDIT
                                            SHOPPING BAG</span>
                                    </h2>
                                    <h2
                                        class="small text-muted ml-2 cursor-pointer">
                                        clear cart
                                    </h2>
                                </div>
                                <hr class="my-0"
                                    style="background-color: #b48351; color: black" />
                                <div class="card-header"></div>
                                <div class="card-body pt-0"
                                    style="background: url('restaurantbg2.jpeg')"
                                    *ngFor="
                    let ord of orders
                      | paginate : { itemsPerPage: count, currentPage: p }
                  ">
                                    <div class="row justify-content-between">
                                        <div class="col-auto col-md-7">
                                            <div
                                                class="media flex-column flex-sm-row">
                                                <img class="img-fluid"
                                                    src="{{ ord.item.itemimage }}"
                                                    width="62"
                                                    height="62" />
                                                <div class="media-body my-auto">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <p class="mb-0">
                                                                <b>{{
                                                                    ord.item.itemname
                                                                    }}</b>
                                                            </p>
                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="pl-0 flex-sm-col col-auto my-auto">
                                            quantity: {{ ord.quantity }}
                                        </div>
                                        <div
                                            class="pl-0 flex-sm-col col-auto my-auto">
                                            <p>
                                                <b>{{
                                                    ord.item.itemcost *
                                                    ord.quantity | currency :
                                                    "INR"
                                                    }}</b>
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="my-2" />
                                </div>
                                <div class="text-right" style="margin-top: 20px">
                                    <pagination-controls
                                        (pageChange)="p = $event"></pagination-controls>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row justify-content-between">
                                            <div class="col-4">
                                                <p><b>Total</b></p>
                                            </div>
                                            <div class="flex-sm-col col-auto">
                                                <p class="mb-1">
                                                    <b>{{ total | currency :
                                                        "INR" }}</b>
                                                </p>
                                            </div>
                                        </div>
                                        <hr class="my-0" />
                                    </div>
                                </div>
                                <div class="row" *ngIf="total > 0">
                                    <div class="col-12">
                                        <button class="btn mb-3"
                                            (click)="payment(total)"
                                            style="margin-left: 25vh; margin-top: 5vh; color: white">
                                            <span class="ps-3">Pay &#x20B9;{{
                                                total }}</span>
                                            <span class="fas fa-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>