*{
    font-family: 'Poppins', sans-serif;
}
div{
    background-image: url("restaurantbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(92, 88, 88); 
    background-blend-mode: multiply;
    color:antiquewhite;
    font-size: 17px;
    color: beige;
    
}

h1{
    text-align: center;
}


