<button class="btn btn-danger" style="margin-left: 117vh;" (click)="deleteHistory()" *ngIf="clearHistory">Clear History</button>
<br>
<table class="table table-success table-striped" style="background-color: #212529;">
    <thead class="table-dark">
      <tr> 
         <th scope="col">Order Date</th>
         <th scope="col">Restaurant Name</th>
         <th scope="col">Mobile Number</th>
         <th scope="col">Email</th>
        <!-- <th scope="col">status</th> -->
        <th scope="col">Item Name</th>
        <th scope="col">Item price</th>
        <th scope="col">Item quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of customerOrder | paginate: { itemsPerPage: count, currentPage: p }" class="table-success">
        <td>{{order.orderDate}} </td>
        <td>{{order.res.restname}}</td>
        <td>{{order.res.contactNumber}}</td>
        <td>{{order.res.email}}</td>
        <td>{{order.item.itemname}}</td>
        <td>{{order.item.itemcost}}</td>
        <td>{{order.quantity}}</td>
        <td>
            <button class="btn btn-outline-primary" (click)="orderAgain(order.cus.customerid,order.res.restid,order.item.itemid,order.foodcart.id,order.item.itemcost,order.quantity)">repeat</button>
          </td> 
          <td> 
             <button class="btn btn-outline-danger" (click)="deleteOrder(order.orderid)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>

  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
  
