<html>
  <div class="container">
    <div class="form-wrapper">
      <form (ngSubmit)="!itemForm.invalid && updateItem()" #itemForm="ngForm">
        <div class="form-group">
          <label>Customer Name:</label>
          <input
            type="text"
            class="form-control"
            pattern="^[A-Za-z][A-Za-z0-9_]{2,19}$"
            placeholder="Enter name"
            name="customername"
            [(ngModel)]="customer.customername"
            #customername="ngModel"
            minlength="3"
            maxlength="20"
            required
          />
          <div *ngIf="(customername.dirty || customername.touched) && customername.errors?.['required']">
            <div *ngIf="customername.errors?.['required']" class="text-danger">Name is required.</div>
          </div>
          <div class="text-danger" 
          *ngIf="(customername.dirty || customername.touched) && customername.errors?.['pattern']">
            Name cannot start with a number and length should be between 3 to 20
        </div>
        </div>



        <div class="form-group">
          <label>Password:</label>
          <input
            type="password"
            class="form-control"
            required
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
            placeholder="Enter password"
            name="password"
            [(ngModel)]="customer.password"
            #password="ngModel"
            minlength="5"
            maxlength="20"
          />
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.['required']" class="text-danger">Password is required.</div>
            <div *ngIf="password.errors?.['pattern']" class="text-danger">Invalid password format.</div>
          </div>
        </div>

        <div class="form-group">
          <label>Mobile Number:</label>
          <input
            type="text"
            class="form-control"
            required
            pattern="^[5-9]\d{0,9}$"
            placeholder="Enter mobile number"
            name="customermobilenumber"
            [(ngModel)]="customer.customermobilenumber"
            #customermobilenumber="ngModel" minlength="10" maxlength="10"
          />
          <div
            *ngIf="customermobilenumber.invalid && (customermobilenumber.dirty || customermobilenumber.touched)"
          >
            <div *ngIf="customermobilenumber.errors?.['required']" class="text-danger">
              Mobile number is required.
            </div>
            <div *ngIf="customermobilenumber.errors?.['pattern']" class="text-danger">
              Mobile number must be 10 digits and should begin with 5,6,7,8 or 9
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!itemForm.valid" class="btn btn-danger">Update</button>
        </div>
      </form>
    </div>
  </div>
  
</html>